@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Set primary to your main color. Here we use the hex directly for simplicity. */
  --primary: 124, 100, 246;
  --primary-foreground: 0, 0%, 100%;

  /* Simple white/black scheme for the rest */
  --background: 0, 0%, 100%;
  --foreground: 0, 0%, 0%;
  --card: 0, 0%, 100%;
  --card-foreground: 0, 0%, 0%;
  --border: 210, 16%, 93%;
  --input: 210, 16%, 97%;
  --ring: 250, 89%, 68%;
  --radius: 1rem;
}

.dark {
  /* For dark mode, invert the colors accordingly */
  --background: 0, 0%, 10%;
  --foreground: 0, 0%, 100%;
  --card: 0, 0%, 10%;
  --card-foreground: 0, 0%, 100%;
  --border: 0, 0%, 20%;
  --input: 0, 0%, 20%;
  --ring: 250, 89%, 68%;
}

/* Global styles */
body {
  background-color: hsl(var(--background));
  color: hsl(var(--foreground));
  overflow-x: hidden;
}
* {
  border-color: hsl(var(--border));
}

button,
a {
  cursor: pointer;
}

h1 {
  @apply text-3xl font-bold;
}
